@using BackendlessAPI

@{
    BackendlessUser user = Backendless.UserService.CurrentUser;
}


@if (user != null)
{

    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Przegląd", "Overview", "Application")</li>
        <li>@Html.ActionLink("Coś", "Index", "Home")</li>
    </ul>

}
else
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Informacje", "Index", "Home")</li>
        <li>@Html.ActionLink("Kontakt", "Index", "Home")</li>
    </ul>
}

