@model VirtualProjectManagment.Models.OverviewModel



@{
    ViewBag.Title = "Przegląd";
}



<hr/>

<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            <a class="list-group-item active"><span class="badge">@Model.NumberOfTasksAssignedToUser</span>Twoje Zadania</a>
                @foreach (var task in Model.ListOfUserTasks)
                {
                    @Html.ActionLink(@task.TaskName, "TaskDetails", new { id = task.objectId }, new { @class = "list-group-item" })
                }            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="list-group">
            <a class="list-group-item active"><span class="badge">@Model.TotalNumberOfTasks</span>Lista Wszystkich Zadań (Status)</a>
            <a href="@Url.Action("OverviewByStatus", new { status="Otwarte"})" class="list-group-item"><span class="badge">@Model.NumberOfTasksWithStatusOpen</span>Otwarte</a>
            <a href="@Url.Action("OverviewByStatus", new { status="W Trakcie"})" class="list-group-item"><span class="badge">@Model.NumberOfTasksWithStatusInProgress</span>W Trakcie</a>
            <a href="@Url.Action("OverviewByStatus", new { status="Przegląd Kodu"})" class="list-group-item"><span class="badge">@Model.NumberOfTasksWithStatusCodeReview</span>Przegląd Kodu</a>
            <a href="@Url.Action("OverviewByStatus", new { status="Zakończone"})" class="list-group-item"><span class="badge">@Model.NumberOfTasksWithStatusDone</span>Zakończone</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="list-group">
            <a class="list-group-item active"><span class="badge">@Model.TotalNumberOfTasks</span>Lista Wszystkich Zadań (Priorytet)</a>
            <a href="@Url.Action("OverviewByPriority", new {priority = "Krytyczny"})" class="list-group-item"><span class="badge">@Model.NumberOfTasksWithPriorityCritical</span>Krytyczny</a>
            <a href="@Url.Action("OverviewByPriority", new {priority = "Bardzo Wysoki"})" class="list-group-item"><span class="badge">@Model.NumberOfTasksWithPriorityVeryHigh</span>Bardzo Wysoki</a>
            <a href="@Url.Action("OverviewByPriority", new {priority = "Wysoki"})" class="list-group-item"><span class="badge">@Model.NumberOfTasksWithPriorityHigh</span>Wysoki</a>
            <a href="@Url.Action("OverviewByPriority", new {priority = "Średni"})" class="list-group-item"><span class="badge">@Model.NumberOfTasksWithPriorityMedium</span>Średni</a>
            <a href="@Url.Action("OverviewByPriority", new {priority="Niski"})" class="list-group-item"><span class="badge">@Model.NumberOfTasksWithPriorityLow</span>Niski</a>           
        </div>
    </div>

</div>