@using BackendlessAPI
@using BackendlessAPI.Persistence
@model VirtualProjectManagment.Models.OverviewModel



@{
    ViewBag.Title = "Przegląd";
}



<hr/>

<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            <a class="list-group-item active"><span class="badge">@Model.NumberOfTaskAssignedToUser</span>Twoje Zadania</a>
            @foreach (var task in Model.ListOfTasks)
            {
                <a href="@task.objectId" class="list-group-item">@task.TaskName</a>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="list-group">
            <a class="list-group-item active"><span class="badge">@Model.TotalNumberOfTasks</span>Lista Wszystkich Zadań (Status)</a>
            <a href="#" class="list-group-item"><span class="badge">@Model.NumberOfTaskWithStatusOpen</span>Otwarte</a>
            <a href="#" class="list-group-item"><span class="badge">@Model.NumberOfTaskWithStatusInProgress</span>W Trakcie</a>
            <a href="#" class="list-group-item"><span class="badge">@Model.NumberOfTaskWithStatusCodeReview</span>Przegląd Kodu</a>
            <a href="#" class="list-group-item"><span class="badge">@Model.NumberOfTaskWithStatusDone</span>Zakończone</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="list-group">
            <a class="list-group-item active"><span class="badge">@Model.TotalNumberOfTasks</span>Lista Wszystkich Zadań (Priorytet)</a>
            <a href="#" class="list-group-item"><span class="badge">@Model.NumberOfTaskWithPriorityCritical</span>Krytyczny</a>
            <a href="#" class="list-group-item"><span class="badge">@Model.NumberOfTaskWithPriorityVeryHigh</span>Bardzo Wysoki</a>
            <a href="#" class="list-group-item"><span class="badge">@Model.NumberOfTaskWithPriorityHigh</span>Wysoki</a>
            <a href="#" class="list-group-item"><span class="badge">@Model.NumberOfTaskWithPriorityMedium</span>Średni</a>
            <a href="#" class="list-group-item"><span class="badge">@Model.NumberOfTaskWithPriorityLow</span>Niski</a>
        </div>
    </div>

</div>

    <!--

    <div class="col-md-4">
        <ul class="list-group">
            <li> <a href="#" class="list-group-item active"><span class="badge">14</span>All Tasks by Status</a></li>
            <li> <a href="#" class="list-group-item">

                <span class="badge">14</span>Open
            </a></li>
            <li> <a href="#" class="list-group-item"><span class="badge">14</span>In Progress</a></li>
            <li> <a href="#" class="list-group-item"><span class="badge">14</span>Code Review</a></li>
            <li> <a href="#" class="list-group-item"><span class="badge">14</span>Done</a></li>
        </ul>

    </div>


    <div class="col-md-4">
        <div class="list-group">
            <a href="#" class="list-group-item active"><span class="glyphicon glyphicon-search"></span><span class="badge">14</span>All Tasks by Priority</a>
            <a href="#" class="list-group-item">

                <div class="col-md-1">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
                <div class="col-md-11">
                    <span class="badge">14</span>Highest
                </div>

            </a>
            <a href="#" class="list-group-item"><span class="glyphicon glyphicon-search"></span><span class="badge">141415</span> | High</a>
            <a href="#" class="list-group-item"><span class="glyphicon glyphicon-search"></span><span class="badge">14</span>Medium</a>
            <a href="#" class="list-group-item"><span class="glyphicon glyphicon-search"></span><span class="badge">14</span>Low</a>
            <a href="#" class="list-group-item"><span class="glyphicon glyphicon-search"></span><span class="badge">14</span>Lowest</a>
        </div>
    </div>

    -->








