@model VirtualProjectManagment.Models.TaskModel

@{
    ViewBag.Title = "Szczegóły Zadania";
    
}

<h2>Szczegóły Zadania</h2>
@using (Html.BeginForm())
{
    <div>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TaskName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TaskPriority)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskPriority)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TaskStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskStatus)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TaskCreateDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskCreateDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TaskDueDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskDueDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TaskAuthor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskAuthor)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TaskAssignedToUser)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskAssignedToUser)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TaskDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskDescription)
            </dd>
        </dl>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.ActionLink("Powrót do Przeglądu", "Overview") |
            @Html.ActionLink("Usuń Zadanie", "TaskRemove", new { id = Model.objectId })
        </div>
    </div>

    <hr/>
    <hr />

    foreach (var comment in Model.CommentsList)
    {
            <div class="media form-group">
                <div class="media-body">
                    <h4 class="media-heading">@comment.AuthorName @comment.AuthorSurname
                        <small>@comment.CommentDateTime</small>
                        @if (@comment.CanBeEdited)
                        {
                            <small class="pull-right">@Html.ActionLink("Edytuj", "EditComment", new { id = @comment.objectId })  @Html.ActionLink("Usuń", "RemoveComment", new { id = @comment.objectId }) </small>
                        }
                    </h4>
                </div>
                <pre>@comment.CommentBody</pre>
            </div>
    }

    

    <hr />
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(m => m.Comment, new { @class = "col-md-12 control-label" })
            <label class = "col-md-12 control-label" for="charLeft">Pozostało 500 znaków.</label>

            @Html.TextAreaFor(m => m.Comment, new { @class = "form-control"})

        </div>

    <div class="form-group">
            
            <input type="submit" value="Dodaj Komentarz" class="btn btn-default savebtn"/>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {        
        $("#Comment").keyup(function () {
           var textLength = $("#Comment").val().length;
           var charactersLeft = 500 - textLength;
           $("label[for='charLeft']").html("Pozostało " + charactersLeft + " znaków.");
            if (textLength > 500) {
                $(".savebtn").attr('disabled', 'disabled');
            } else {
                $(".savebtn").removeAttr('disabled');
            }
        });
    });
</script>
