@using BackendlessAPI
@model VirtualProjectManagment.Models.TaskModel

@{
    ViewBag.Title = "Szczegóły Zadania";
    BackendlessUser user = Backendless.UserService.CurrentUser;
    var currentUserId = user.Properties["objectId"];
}

<h2>Szczegóły Zadania</h2>
@using (Html.BeginForm())
{
    <div>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TaskName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TaskPriority)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskPriority)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TaskStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskStatus)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TaskCreateDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskCreateDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TaskDueDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskDueDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TaskAuthor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskAuthor)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TaskAssignedToUser)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskAssignedToUser)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TaskDescription)
            </dt>

            <dd>
                <pre>@Html.DisplayFor(model => model.TaskDescription)</pre>
            </dd>
        </dl>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.ActionLink("Powrót do Przeglądu", "Overview") |
            @Html.ActionLink("Edytuj Zadanie", "TaskEdit", new { id = Model.objectId }) |
            @Html.ActionLink("Usuń Zadanie", "TaskRemove", new {id = Model.objectId})
        </div>
    </div>
    <hr />
    if (Model.CommentsList.Any())
    {     
        <hr/>
        foreach (var comment in Model.CommentsList)
        {
            <div class="media form-group">
                <div class="media-body">
                    <h4 class="media-heading">
                        @comment.AuthorName @comment.AuthorSurname
                        <small>@comment.CommentDateTime</small>
                        @if (@comment.CanBeEdited && @comment.ownerId == (string)currentUserId)
                        {
                            <small class="pull-right">@Html.ActionLink("Usuń", "RemoveComment", new {id = @comment.objectId}) </small>
                        }
                    </h4>
                </div>
                <pre>@comment.CommentBody</pre>
            </div>
        }
    }
    <hr />

    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-12 control-label" for="charLeft">Komentarz (Pozostało 500 znaków)</label>
            @Html.TextAreaFor(m => m.Comment, new {@class = "form-control"})
        </div>
        <div class="form-group">
            <input type="submit" value="Dodaj Komentarz" class="btn btn-default submitbtn"/>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function() {
        $(".submitbtn").attr('disabled', 'disabled');
        $("#Comment").keyup(function() {
            var inputLength = $("#Comment").val().length;
            var charactersLeft = 500 - inputLength;
            $("label[for='charLeft']").html("Komentarz (Pozostało " + charactersLeft + " znaków)");
            if (inputLength > 500 || inputLength == 0) {
                $(".submitbtn").attr('disabled', 'disabled');
            } else {
                $(".submitbtn").removeAttr('disabled');
            }
        });
    });
</script>
